<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
    <div class="container">
        <a href="/" class="lang-logo">
            <img src="/public/lang-logo.png">
        </a>
        <h1>Booking app!</h1>
        <p>Booking application made as project for course ID1212</p>
        <a type="button" class="btn btn-lg btn-default" href="/login"><span class="glyphicon glyphicon-flash"></span> Press to login </a>
    </div>
</div>

</body>
</html>
